header {
	position: absolute;
	height: 120px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	font-size: 400%;
	text-align: center;
	padding-top: 25px;
}

nav {
	position: absolute;
	margin-left: 25px;
	margin-top: 120px;
	width: 110px;
	border: 2px solid blue;
	border-left: 0px;
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	position: absolute;
	width: 960px;
	margin-bottom: 0px;
}

#main {
	position: absolute;
	margin-right: 25px;
        margin-left: 160px;
	margin-top: 120px;
	width: 800px;
}

#titleImg1 {
	position: absolute;
	margin-top: 30px;
	margin-left: 210px;
	height: 100px;
	width: 100px;
}

#titleImg2 {
	position: absolute;
	margin-top: 10px;
	margin-left: 644px;
	height: 100px;
	width: 100px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
