#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header {
    float: left;
    height: 120px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    font-size: 400%;
    text-align: center;
    padding-top: 25px;
}

nav {
    float: left;
    width: 110px;
    border: 2px solid blue;
    font-size: large;
}

nav ul {
    list-style-type: none;
    padding-left: 20px;
}

footer {
    float: right;
    width: 960px;
    text-align: center;
}

#main {
    float: right;
    width: 830px;
}

#titleImg1 {
    position: absolute;
    margin-top: 30px;
    margin-left: 210px;
    height: 100px;
    width: 100px;
}

#titleImg2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 644px;
    height: 100px;
    width: 100px;
}
